<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SkyBot </title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>🤖 SkyBot </h1>
    <div id="chat-box"></div>

    <div class="input-area">
      <input type="text" id="user-input" placeholder="Type your message..." />
      <button id="send-btn">Send</button>
      <button id="mic-btn">🎤</button>
    </div>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
